@page "/add-house"
@inject IMediator Mediator

<PageTitle>Add House - IMB_Realty</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add House</li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Add a House</h3>

@if (_submitSuccessful)
{
    <SuccessAlert Message = "Your house has been added successfully!"></SuccessAlert>
}
else if (_errorMessage is not null)
{
    <ErrorAlert Message = "@_errorMessage"></ErrorAlert>
}

<HouseForm @ref="_houseForm" OnSubmit="SubmitNewHouse" />

@code {
    private bool _submitSuccessful;
    private string? _errorMessage;
    private HouseForm _houseForm = default!;

    private async Task SubmitNewHouse(HouseDto house, IBrowserFile? image)
    {
        var response = await Mediator.Send(new AddHouseRequest(house));

        if(response.HouseId == -1)
        {
            _submitSuccessful = false;
            _errorMessage = "There was a problem saving your house.";
            StateHasChanged();
            return;
        }
        if(image is null)
        {
            _submitSuccessful = true;
            _houseForm.ResetForm();
            StateHasChanged();
            return;
        }

        _submitSuccessful = await ProcessImage(response.HouseId, image);

        if(_submitSuccessful)
        {
            _houseForm.ResetForm();
        }
        StateHasChanged();
    }

    private async Task<bool> ProcessImage(int houseId, IBrowserFile houseImage)
    {
        var imageUploadResonse = await Mediator.Send(new UploadHouseImageRequest(houseId, houseImage));

        if(string.IsNullOrWhiteSpace(imageUploadResonse.ImageName))
        {
            _errorMessage = "Your house was saved, but there was a problem uploading the image.";
            return false;
        }
        return true;
    }
}
