@inject NavigationManager NavigationManager

<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to IMB_Realty</h1>
    <p class="lead text-center">Find your dream home today using our special search features!</p>
    <p class="mt-4">
        <input @onkeydown="SearchForHouse" @bind="_searchTerm" @bind:event="oninput" type="text" placeholder="Search for a house..." class="form-control form-control-lg" />
    </p>
</div>

@code {
    private string _searchTerm = "";

    private void SearchForHouse(KeyboardEventArgs args)
    {
        if(args.Key != "Enter") return;
        NavigationManager.NavigateTo($"/search/{_searchTerm}");
    }
}